APP_NAME=SentinelX API
APP_ENV=development
APP_VERSION=0.1.0

DATABASE_URL=postgresql+psycopg://sentinelx_app:CHANGE_ME@localhost:5432/sentinelx_dev

BACKEND_CORS_ORIGINS=http://localhost:5173

JWT_SECRET_KEY=NTe3j5pQWwoHANzo9lvuHEmQtTTGOawi2MKD9kknAx9DKeV244VTLw8iqOayvzPWTcR0yZQxKBptu9pc0C-hbg
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=1440